.jumbotron {
  background-image: url("../images/banner.png");
  background-size: cover;
  /*background-color: $pink;*/
  color: white;
  margin-top: 50px;
  margin-bottom: 0px;
}
footer {
  padding: 10px 10px 0 10px;
  background-color: green;
  margin-top: 10px;
  margin-bottom: 0px;
  /*text-align: left;*/
}
.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.footer-address-icon {
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 0px;
  /*padding-right: 10px;*/
}
.tab-content {
  padding-top: 10px;
}
