@pink: #fac3e1;
@yellow: #f7f0ba;
@red: #edb2b2;
@green: #b4f0d0;

.margenes(@top:0px, @bottom:0px){
  margin-top: @top;
  margin-bottom: @bottom;
}
.jumbotron {
  background-image: url("../images/banner.png");
  background-size: cover;
  /*background-color: $pink;*/
  color: white;
  .margenes(50px, 0px);
}

footer {
  padding: 10px 10px 0 10px;
  background-color: @yellow;
  .margenes(10px, 0px);
  /*text-align: left;*/ 
}

.card-hotel {
  flex: 1 200px;
 .margenes(10px, 0px);
}

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 0px;
  /*padding-right: 10px;*/ }

.tab-content {
  padding-top: 10px; }
