$pink: #f2d0e1;
$yellow: #f7f0ba;
$red: #edb2b2;
$green: #b4f0d0;

@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}
@mixin padding($top, $right, $bottom, $left){
	padding-top: $top;
	padding-right: $right;
	padding-bottom: $bottom;
	padding-left: $left;
}


.jumbotron {
	background-image: url("../images/banner.png");
  	background-size: cover;
	/*background-color: $pink;*/
	color: white;
	@include margenes(50px, 10px);
}

footer {
	padding: 10px 10px 0 10px;
	background-color: $pink;
	@include margenes(10px, 0px);
	/*margin-bottom: 0px;
	margin-top: 10px;
	text-align: left;*/
}

.card-hotel {
	flex: 1 200px;
	@include margenes(10px, 0px);
}

.btn-reserva{
	width: 100%;
	border-radius: 0px;

}
.footer-address-icon{
	@include padding(0px, 10px, 0px, 0px);
	/*padding-right: 10px;*/
}

.tab-content{
	padding-top: 10px;
}